@import '~sass/styles.scss';

.community-bg {
    background-image: url('/assets/images/collage-shape-left.png'),
    				  url('/assets/images/collage-shape-right.png');
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
}

.gs-text-max-width {
	text-align: center;
	margin: auto;
}