<section class="community-bg">

	<div class="gs-content-padding gs-text-max-width">
		
		<gs-section-heading>
			<div lightText>{{ data.firstHeader }}</div>
			<div darkText>{{ data.secondHeader }}</div>
		</gs-section-heading>

	    <p>{{ data.text }}</p>

	</div>

	<div class="image-container gs-content-padding">
		<img src="assets/images/community-collage.png" />
	</div>

</section>

<section class="gs-content-padding-vertical">
	<gs-unique-selling-points [list]="data.list"></gs-unique-selling-points>
</section>

<gs-quotes class="gs-content-padding"></gs-quotes>