<section class="community-bg">

	<div class="gs-content-padding gs-text-max-width">
		
		<gs-section-heading>
			<div lightText>Don't do it alone.</div>
			<div darkText>Join our community!</div>
		</gs-section-heading>

	    <p>
		    Find support and be motivated by thousands of women
		    around the world on your fitness journey.
	    </p>

	</div>

	<div class="image-container gs-content-padding">
		<img src="assets/images/community-collage.png" />
	</div>

</section>

<section class="gs-content-padding-vertical">
	<gs-unique-selling-points [list]="communityList"></gs-unique-selling-points>
</section>

<gs-quotes class="gs-content-padding"></gs-quotes>