.color-primary {
	color: $theme-primary-light;
}

.color-secondary {
	color: $theme-secondary-light;
}

.color-accent {
	color: $theme-accent;
}

.color-background {
	color: $theme-background;
}

.color-foreground {
	color: $theme-foreground;
}

.bg-color-primary {
	background-color: $theme-primary;
}

.bg-color-secondary {
	background-color: $theme-secondary;
}

.bg-color-accent {
	background-color: $theme-accent;
}

.bg-color-background {
	background-color: $theme-background;
}

.bg-color-foreground {
	background-color: $theme-foreground;
}