$theme-primary: #ffaf99;
$theme-primary-light: #ffebe5;

$theme-secondary: #8066c7;
$theme-secondary-light: #d6ccff;

$theme-accent: #fff066;
$theme-foreground: #000000;
$theme-background: #ffffff;
$theme-grey: #aeafb0;