@import '~sass/styles.scss';

.guide-content {
	background-color: $theme-primary-light;
}

.header-box {
	padding: 2.5em;
	background-image: url('/assets/images/text-box.png');
	background-size: contain;
	background-repeat: no-repeat;

	h1 {
		white-space: nowrap;
		transform: translateX(0.5rem) translateY(-1.2rem);
	}
}

h6 {
	margin: 0 3rem;
}


@media (max-width: $layout-breakpoint-xs - 1) {
	.image-container {
		max-width: 40%;
	}

	.header-box h1 {
		transform: translateX(0.5rem) translateY(-1.8rem);
		font-size: $font-size-xxl;
	}
}


@media (max-width: 299px) {
	.header-box {
		padding: 0;
		background: none;

		h1 {
			white-space: initial;
			transform: none;
		}
	}
}