<section class="guide-content gs-content-padding">

    <h6>{{ data.firstHeader }}</h6>
    <div class="layout-row layout-align-start-center">
		<div class="header-box">
			<h1>{{ data.secondHeader }}</h1>
		</div>
	</div>

	<div class="layout-gt-xs-row layout-xs-column layout-align-xs-center-center">
		<div class="flex layout-column">
		    <p>{{ data.text }}</p>
		    <gs-list
		    	class="gs-content-padding-vertical"
		    	[list]="data.list"></gs-list>
		</div>

		<div class="flex image-container">
			<img src="assets/images/program-ipad.png" />
		</div>
	</div>
	<gs-special-offer></gs-special-offer>
</section>