<div class="special-offer-content layout-row layout-align-start-center">

    <div class="offer-box">
        <h5>{{ data.description }}</h5>
        <div class="old-price">{{ data.oldPrice }}<div class="crossed-out"></div></div>
        <div class="new-price">{{ data.price }}</div>
        <div class="price-per-week">{{ data.subtext }}</div>
        <gs-button>Order now</gs-button>
    </div>

    <div class="image-container">
        <img src="assets/images/guide-text.png" alt="Start your new lifestyle now!"/>
    </div>
</div>