<section>
	<div class="nutrition-upper gs-content-padding gs-text-max-width">
		<gs-section-heading>	
			<div lightText>{{ data.firstHeader }}</div>
			<div darkText>{{ data.secondHeader }}</div>	
		</gs-section-heading>

	    <p>{{ data.text }}</p>
	</div>

	<div class="nutrition-lower gs-content-padding layout-column layout-gt-xs-row">
		<div class="image-container">
			<img src="assets/images/nutrition-text.png" />
		</div>

		<div class="layout-column">
			<gs-list [list]="data.list"></gs-list>
			<div class="gs-content-padding-vertical layout-xs-row  layout-align-xs-end-end">
				<gs-button>Order Now</gs-button>
			</div>
		</div>
	</div>
</section>

<gs-video></gs-video>