@import '~sass/styles.scss';

.nutrition-bg {
	background: url('/assets/images/nutrition-shape-left.png'),
				url('/assets/images/nutrition-right.png');
	background-size: contain, contain;
	background-repeat: no-repeat, no-repeat;
	background-position: top left, bottom right;
}

.gs-text-max-width {
	margin: auto;
}


.nutrition-points {
	background: url('/assets/images/nutrition-left.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
}

.image-container {
	max-width: 30%;
	margin-right: 3em;
}

img {
	max-width: 100%;
	height-height: 100%;
}


@media (max-width: $layout-breakpoint-xs - 1) {
	.image-container {
		order: 1;
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}