<div class="video-bg layout-column layout-align-center-center">

    <div class="video-image"></div>

    <div class="video-content gs-content-padding">

        <h1 class="color-background">Damn, does that look stupid?!</h1>

        <gs-button [styleWhite]="true">

            <div class="layout-row">
                <div class="image-container">
                    <img src="assets/icons/icon-play.svg" alt="Play video" />
                </div>
                Play Video
            </div>

        </gs-button>

    </div>
    
</div>