@import '~sass/styles.scss';

.image-container {
	height: 1.5em;
	width: 1.5em;
	margin: 0.4em 0.6em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

small {
	font-weight: $font-weight-bold;
}

.banner {
	cursor: pointer;
	background-color: $theme-accent;
	transition: all $transition-time linear;

	&:hover {
		background-color: $theme-secondary-light;
	}
}