<gs-guide-ad-banner></gs-guide-ad-banner>
<header>
    <div class="header-bg">
        <nav class="layout-row layout-align-xs-space-between-center">
            <div class="logo-container">
                <img alt="goodshapes logo" src="assets/images/gs-logo-white.png" />
            </div>
            <div [ngClass]="{'is-open':isMenuOpen()}"
                class="layout-xs layout-gt-xs-row">
                <gs-menu-button
                    class="mobile-nav-button"
                    (click)="toggleMenu()"></gs-menu-button>
                <ul class="layout-gt-xs-row" id="nav">
                    <li class="is-selected"><a href="#workout">Workout</a></li>
                    <li><a href="#nutrition">Nutrition</a></li>
                    <li><a href="#community">Community</a></li>
                    <li><a href="#guide">Good Guide</a></li>
                </ul>
            </div>
        </nav>
        <gs-headline-banner></gs-headline-banner>
    </div>
</header>
<div class="usps-wrapper">
    <gs-unique-selling-points
        [list]="headerList"></gs-unique-selling-points>
</div>