<section class="headline-wrapper gs-content-padding">
	<div class="headline-container">
		<div class="headline-text">
			<h6 class="color-accent">14 Weeks Workout</h6>
			<h1 class="color-background">
				{{ data.firstHeader }}
			</h1>
			<h1 class="color-background">
				{{ data.secondHeader }}
			</h1>
			<p class="color-background">
				{{ data.text }}
			</p>
		</div>
		<gs-button class="layout-xs-column layout-align-xs-end-end">
			Order now
		</gs-button>
	</div>
	<div class="headline-image layout-row layout-align-end-end">
		<img src="assets/images/headline-image.png" />
	</div>
</section>