<ul class="usps-wrapper layout-gt-xs-row">
	<li class="usp flex-gt-xs layout-xs-row layout-column
			   layout-align-xs-start-center layout-align-center-stretch">
		<div class="image-container">
			<img src="assets/icons/icon-tailored.svg" />
		</div>
		<div class="usp-title-container layout-xs-column layout-align-xs-center-start">
			<h5>Tailored to you</h5>
		</div>
	</li>
	<li class="usp flex-gt-xs layout-xs-row layout-column
			   layout-align-xs-start-center layout-align-center-stretch">
		<div class="image-container">
			<img src="assets/icons/icon-recipes.svg" />
		</div>
		<div class="usp-title-container layout-xs-column layout-align-xs-center-start">
			<h5>Easy and Effective Workouts</h5>
		</div>
	</li>
	<li class="usp flex-gt-xs layout-xs-row layout-column 
			   layout-align-xs-start-center layout-align-center-stretch">
		<div class="image-container">
			<img src="assets/icons/icon-equipment.svg" />
		</div>
		<div class="usp-title-container layout-xs-column layout-align-xs-center-start">
			<h5>Anywhere, Anytime</h5>
		</div>
	</li>
	<li class="usp flex-gt-xs layout-xs-row layout-column 
			   layout-align-xs-start-center layout-align-center-stretch">
		<div class="image-container">
			<img src="assets/icons/icon-equipment.svg" />
		</div>
		<div class="usp-title-container layout-xs-column layout-align-xs-center-start">
			<h5>50+ Healthy Recipes</h5>
		</div>
	</li>
	<li class="usp flex-gt-xs layout-xs-row layout-column 
			   layout-align-xs-start-center layout-align-center-stretch">
		<div class="image-container">
			<img src="assets/icons/icon-fast-workout.svg" />
		</div>
		<div class="usp-title-container layout-xs-column layout-align-xs-center-start">
			<h5>Daily Motivation</h5>
		</div>
	</li>
</ul>