<div class="app-toolbar bg-color-primary">
	<gs-header id="nav" class="layout-column gs-max-width"></gs-header>
</div>
<div class="gs-max-width">
	<gs-workout id="workout"></gs-workout>
	<gs-nutrition id="nutrition"></gs-nutrition>
	<gs-community id="community"></gs-community>
	<gs-guide id="guide"></gs-guide>
	<gs-footer id="footer"></gs-footer>
	<go-top-button
		[animate]="true"
		[speed]="50"
		[acceleration]="2"
		[scrollDistance]="300"
		[styles]="backToTopStyle">
		<div class="layout-column layout-align-center-center">
			<img src="assets/icons/backtotop-arrow.png" />
			Back to top
		</div>
	</go-top-button>
</div>