@import '~sass/styles.scss';

.list-item-wrapper {
	.item-icon,
	.item-text {
		padding: 0.5em;
		text-align: left;
	}

	.item-icon {
		min-width: 3rem;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}