@import '~sass/styles.scss';

$image-size:    3rem;
$image-size-sm: 1.5rem;

.usp-wrapper { 
	text-align: center;

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.image-container {
	height: $image-size;
	min-width: $image-size;
}

.text-container {
	padding: 0.5em;
	height: 4em;
	color: $theme-foreground;
}

img {
	transition: transform 0.3s linear;
	max-width: 100%;
	max-height: 100%;
}


@media (max-width: $layout-breakpoint-xs - 1) {
	.usp-wrapper {
		margin: 0.2em;
		padding: 0.1em 0.5em;
	}

	.image-container {
		height: $image-size-sm;
		min-width: $image-size-sm;
	}

	.text-container {
		text-align: left;
		height: 3em;
		padding: 0 $font-size-xl;
		
		h5 {
			margin-bottom: 0;
			text-align: left;
			font-size: $font-size-xxs;
			font-weight: $font-weight-normal;
		}
	}
}


@media (max-width: $layout-breakpoint-sm - 1) {
	.text-container {
		h5 {
			font-size: $font-size-sm;
		}
	}
}