<section class="layout-column layout-align-center-center">

	<div class="logo">
    	<img alt="Goodshapes logo" src="assets/images/gs-logo.png" />
	</div>
	<div class="layout-gt-xs-row">
		<div class="ebook">
	    	<img alt="Ebook" src="assets/images/footer-ebook.png" />
		</div>
		<div>
		    <h5>Take the first step and get the <div class="highlight">free 7-Day</div> get good guide!</h5>
		    <p>
				Receive 7 delicious get lean recipes and 7 get sweat exercises
				straight into your inbox every morning.
		    </p>
		</div>
		<div>
			<gs-input>my@email.com</gs-input>
			<gs-button>Submit</gs-button>
		</div>
	</div>
</section>

<section class="layout-gt-xs-row layout-align-gt-xs-space-between-center">
	<div>
		<div>
			<h6>Payment methods</h6>
	    	<img alt="Mastercard" src="assets/images/pay-mastercard.png" />
	    	<img alt="Visa" src="assets/images/pay-visa.png" />
	    	<img alt="Paypal" src="assets/images/pay-paypal.png" />
	    	<img alt="Sofort" src="assets/images/pay-sofort.png" />
		</div>

		<div>
			<h6>Follow us</h6>
			<div class="layout-row">
				<a href="">
					<img alt="Instagram" src="assets/icons/icon-instagram.png" />
				</a>
				<a href="">
					<img alt="Facebook" src="assets/icons/icon-fb.png" />
				</a>
			</div>
		</div>
	</div>
	<div class="guarantee layout-row">
    	<img alt="Guarantee" src="assets/images/footer-guarantee.png" />
    	<img alt="Guarantee" src="assets/images/footer-guarantee.png" />
    	<img alt="Guarantee" src="assets/images/footer-guarantee.png" />
	</div>
</section>

<footer class="layout-xs-column layout-gt-xs-row
			   layout-align-gt-xs-space-between-center">
	<small>&copy; 2016 Goodshapes</small>
	<ul class="footer-links layout-gt-xs-row">
		<li class="footer-link">
			<a href="">About</a>
		</li>
		<li class="footer-link">
			<a href="">FAQ</a>
		</li>
		<li class="footer-link">
			<a href="">Terms</a>
		</li>
		<li class="footer-link">
			<a href="">Privacy</a>
		</li>
		<li class="footer-link">
			<a href="">Imprint</a>
		</li>
	</ul>
</footer>