<section class="layout-gt-xs-row layout-align-gt-xs-space-between-end">
	<div class="gs-content-padding flex-gt-xs">
		<div>
			<h6>Payment methods</h6>
	    	<img alt="Mastercard" src="assets/images/pay-mastercard.png" />
	    	<img alt="Visa" src="assets/images/pay-visa.png" />
	    	<img alt="Paypal" src="assets/images/pay-paypal.png" />
	    	<img alt="Sofort" src="assets/images/pay-sofort.png" />
		</div>

		<div class="gs-content-padding-vertical">
			<h6>Follow us</h6>
			<div class="layout-row">
				<a href="">
					<img alt="Instagram" src="assets/icons/icon-instagram.png" />
				</a>
				<a href="">
					<img alt="Facebook" src="assets/icons/icon-fb.png" />
				</a>
			</div>
		</div>
	</div>
	<div class="gs-content-padding flex-gt-xs">
		<div class="guarantee layout-row layout-align-end-center">
			<div class="image-container">
	    		<img alt="Guarantee" src="assets/images/footer-guarantee.png" />
	    	</div>
			<div class="image-container">
		    	<img alt="Guarantee" src="assets/images/footer-guarantee.png" />
		    </div>
			<div class="image-container">
	    		<img alt="Guarantee" src="assets/images/footer-guarantee.png" />
	    	</div>
		</div>
	</div>
</section>