<section class="gs-content-padding layout-column layout-align-center-center">

	<div class="logo">
    	<img alt="Goodshapes logo" src="assets/images/gs-logo.png" />
	</div>
	<div class="layout-gt-xs-row">
		<div class="image-container">
	    	<img alt="Ebook" src="assets/images/footer-ebook.png" />
		</div>
		<div class="gs-text-max-width gs-content-padding">
		    <h5>Take the first step and get the <div class="highlight">free 7-Day</div> get good guide!</h5>
		    <p>
				Receive 7 delicious get lean recipes and 7 get sweat exercises
				straight into your inbox every morning.
		    </p>
		</div>
		<div class="layout-xs-column layout-align-xs-center-end">
			<gs-email-input
				[placeholder]="'my@email.com'"></gs-email-input>

			<gs-button (click)="register()">Submit</gs-button>
		</div>
	</div>
</section>