<section class="workout-content gs-content-padding">

	<div class="gs-text-max-width gs-content-padding">
	    <gs-section-heading>	
			<div lightText>{{ data.firstHeader }}</div>
			<div darkText>{{ data.secondHeader }}</div>	
		</gs-section-heading>
	</div>

	<div class="layout-column layout-gt-xs-row">

		<div class="image-container workout-image layout-column">
			<img src="assets/images/workout-image.png" />
		</div>

		<div class="layout-column">
			<p>{{ data.text }}} <img src="assets/icons/gs-emoticon.png" /></p>
			<gs-list [list]="data.list"></gs-list>
		</div>

	</div>

</section>

<gs-photo-divider></gs-photo-divider>